@charset "utf-8";
body {
	-webkit-text-size-adjust: none;
}

header {
	margin-bottom: 30px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	margin: 30px 0 10px;
	padding: 5px;
	border-bottom: 2px dotted #999;
	font-size: 2em;
}

.sample .canvas {
	background-color: #fff;
	overflow: hidden;
	font-size: 1.4em;
	text-align: center;;
}

.sample .canvas .run {
	padding: 10px 30px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	display: inline-block;
	text-decoration: none;
}

.sample .notes {
	margin-bottom: 10px;
}

.sample .desc {
	margin: 0 0 10px;
	font-size: 1.4em;
}

.sample .result {
	margin-top: 10px;
	text-align: left;
}

.sample .result .time {
	color: #f00;
}

.hidden {
	display: none;
}

@media screen and (min-width: 900px) {
	#container {
		margin: 0 auto;
		padding: 30px 0;
		width: 900px;
	}

	#index ol {
		margin-bottom: 15px;
		overflow: hidden;
		font-size: 1.4em;
	}

	#index li {
		margin-bottom: 5px;
		width: 33%;
		float: left;
	}

	.sample .box {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #ccc;
		overflow: hidden;
	}

	.sample .canvas {
		padding: 20px;
		width: 220px;
		min-height: 80px;
		border: 1px solid #ccc;
		float: left;
	}

	.sample .code {
		width: 620px;
		float: right;
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 899px) {
	#container {
		padding: 10px;
	}

	#index ol {
		margin: 0 -10px 15px;
		border-top: 1px solid #ccc;
		overflow: hidden;
		font-size: 1.4em;
	}

	#index li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc;
	}

	#index li a {
		padding: 15px 10px;
		background: #F2F2F2;
		display: block;
		color: #333;
		text-decoration: none;
	}

	.sample .box {
		margin-bottom: 30px;
	}

	.sample .canvas {
		padding: 10px;
		min-height: 50px;
		border: 1px solid #ccc;
	}

	.sample .code {
		font-size: 1.2rem;
	}
}
