@charset "utf-8";
body {
	margin: 50px;
	background: #eee;
	text-align: center;
}

.box {
	display: inline-block;
}

.cvs {
	margin-bottom: 30px;
	background: #fff;
	border: 1px solid #ccc;
}
