@charset "utf-8";
/*------------------------------------------------------------
	jquery.tabjs
------------------------------------------------------------*/
.accordion {
	margin: 0 auto;
	width: 320px;
	border-bottom: 1px solid #ccc;
}

.accordion .adnMenu {
	background-image: -webkit-gradient(linear, left top, left bottom,
						from(#999),
						to(#666));
	background-image: -moz-linear-gradient(
						#999,
						#666);
	background-image: linear-gradient(
						#999,
						#666);
	background-color: #999;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #333;
}

.accordion .adnMenu a {
	padding: 12px 10px 10px 40px;
	background: url(../img/open.png) no-repeat 10px center;
	display: block;
	position: relative;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

.accordion .adnMenu:hover,
.accordion .current {
	background-image: -webkit-gradient(linear, left top, left bottom,
						from(#666),
						to(#999));
	background-image: -moz-linear-gradient(
						#666,
						#999);
	background-image: linear-gradient(
						#666,
						#999);
}

.accordion .current a {
	background-image: url(../img/close.png);
}

.accordion .adnBox {
	padding: 10px;
	width: 296px;
	border: 2px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
}
