@charset utf-8;
body {
	text-align: center;
}

#set {
	margin: 0 auto;
	width: 900px;
	overflow: hidden;
	zoom: 1;
	text-align: left;
}

form {
	margin: 0 auto 20px;
	width: 400px;
	float: right;
	text-align: left;
}

form label {
	margin: 0 20px 10px 0;
	float: left;
}

form #keyword {
	width: 200px;
}

form #submit {
	clear: both;
	text-align: center;
}

form input {
	padding: 5px 10px;
}

form select {
	padding: 5px;
}

#player {
	width: 480px;
	float: left;
}

#result {
	margin: 0 auto;
	width: 864px;
	overflow: hidden;
	zoom: 1;
	text-align: left;
}

#result .thumbnail {
	margin: 0 5px 5px;
	float: left;
}

#result .thumbnail a {
	padding: 2px;
	border: 1px solid #ccc;
	display: block;
	position: relative;
}

#result .thumbnail a img {
	vertical-align: top;
}

#result .thumbnail a .title {
	padding: 5px;
	width: 190px;
	height: 140px;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: absolute;
	top: 2px;
	left: 2px;
	color: #fff;
	text-decoration: none;
}

#result .thumbnail a:hover .title {
	display: block;
}

#data {
	height: 500px;
	overflow: auto;
	text-align: left;
}