@charset "utf-8";
body {
	margin: 50px;
	background: #eee;
	text-align: center;
}

.box {
	margin-bottom: 30px;
}

#sample01 .image {
	padding: 10px;
	background: url(../img/body_bg.png);
	border: 1px solid #ccc;
	display: inline-block;
	color: #fff;
	vertical-align: top;
}

	* html #sample01 .image {
		display: inline;
		zoom: 1;
	}

#sample01 .image h3 {
	margin: 0;
}
