@charset "utf-8";
/*------------------------------------------------------------
	jquery.lightboxjs
------------------------------------------------------------*/
#lbBg {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

	* html #lbBg {
		position: absolute;
	}

#lb {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}

#lbBody {
	padding: 6px;
	background: #fff;
	position: relative;
	top: -6px;
	left: -6px;
}

#lbClose {
	position: absolute;
	top: -6px;
	right: 6px;
	z-index: 1;
}
