@charset "utf-8";
body {
	-webkit-text-size-adjust: none;
}

header {
	margin-bottom: 30px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	margin: 30px 0 10px;
	padding: 5px;
	border-bottom: 2px dotted #999;
	font-size: 2em;
}

.sample .canvas {
	background-color: #fff;
	overflow: hidden;
	font-size: 1.4em;
	text-align: center;;
}

.sample .canvas p {
	margin-bottom: 0.5em;
}

.sample .canvas p.last-child {
	margin-bottom: 0;
}
.sample .notes {
	margin-bottom: 10px;
}

.sample .desc {
	margin: 0 0 10px;
	font-size: 1.4em;
}

@media screen and (min-width: 900px) {
	#container {
		margin: 0 auto;
		padding: 30px 0;
		width: 900px;
	}

	#index ol {
		margin-bottom: 15px;
		overflow: hidden;
		zoom: 1;
		font-size: 1.4em;
	}

	#index li {
		margin-bottom: 5px;
		width: 33%;
		float: left;
	}

	.sample .box {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #ccc;
		overflow: hidden;
	}

	.sample .canvas {
		padding: 20px;
		width: 220px;
		min-height: 80px;
		border: 1px solid #ccc;
		float: left;
	}

	.sample .code {
		width: 620px;
		float: right;
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 899px) {
	#container {
		padding: 10px;
	}

	#index ol {
		margin: 0 -10px 15px;
		border-top: 1px solid #ccc;
		overflow: hidden;
		font-size: 1.4em;
	}

	#index li {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc;
	}

	#index li a {
		padding: 15px 10px;
		background: #F2F2F2;
		display: block;
		color: #333;
		text-decoration: none;
	}

	.sample .box {
		margin-bottom: 30px;
	}

	.sample .canvas {
		padding: 10px;
		min-height: 50px;
		border: 1px solid #ccc;
	}

	.sample .code {
		font-size: 1.2rem;
	}
}

/*------------------------------------------------------------
	Webフォント
------------------------------------------------------------*/
@font-face {
	font-family: 'kouzan';
	src: url('../fonts/kouzan.eot');
	src: url('../fonts/kouzan.eot?#iefix') format('embedded-opentype'),	/* IE6～8 */
		url('../fonts/kouzan.woff') format('woff'),	/* 主要最新ブラウザ */
		url('../fonts/kouzan.ttf') format('truetype');	/* IE以外の旧ブラウザ */
}

@font-face {
	font-family: 'tanuki';
	src: url('../fonts/TanukiMagic.eot');
	src: url('../fonts/TanukiMagic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TanukiMagic.woff') format('woff'),
	url('../fonts/TanukiMagic.ttf') format('truetype');
}

@font-face {
	font-family: 'symbol';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	url('../fonts/websymbols-regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'oricon';
	src: url('../fonts/oricon.eot');
	src: url('../fonts/oricon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/oricon.woff') format('woff'),
	url('../fonts/oricon.ttf') format('truetype');
}

.kouzan {
	font-family: 'kouzan';
}

.tanuki {
	font-family: 'tanuki';
}

.symbol {
	font-family: 'symbol';
}

.oricon {
	font-family: 'oricon';
}

.deco1 {
	color: #0066cc;
	text-shadow: 2px 2px 4px #666;
}

.deco2 {
	color: #ff9900;
	text-decoration: underline;
	letter-spacing: 5px;
}

.deco3 {
	text-shadow: 1px 1px 2px #999;
}

.twitter { color: #00BEF6; }
.fb { color: #3B5998; }
.gp { color: #4285F4; }
.skype { color: #00AEF3; }
.rss { color: #E37F53; }
.yt { color: #C4302B; }
.fav { color: #FFE78A; }
.tag { color: #006699; }

.icons li {
	margin-bottom: 5px;
}

.icons a {
	color: #333;
	text-decoration: none;
}

.icons a:before {
	margin-right: 5px;
	position: relative;
	top: -0.1em;
	font-family: 'symbol';
}

.twIcon:before {
	color: #00BEF6;
	content: 't';
}

.fbIcon:before {
	color: #3B5998;
	content: 'f';
}

.rssIcon:before {
	color: #E37F53;
	content: 'r';
}

.oricons {
	font-size: 2em;
	line-height: 1.5;
}

.oricons span:before {
	margin-right: 5px;
	position: relative;
	color: #333;
	font-family: 'oricon';
}

.ipIcon:before {
	content: '!';
}

.flIcon:before {
	content: '"';
}

.beeIcon:before {
	content: '#';
}

#webfont .canvas {
	font-size: 3em;
}

#iconfont .canvas {
	font-size: 2em;
}