@charset "utf-8";
body {
	margin: 30px;
}

#holder {
	margin: 10px 0;
	padding: 10px;
	min-height: 200px;
	background: #eee;
	border: 1px solid #ccc;
	text-align: center;
}

#holder.hover {
	border-color: #f00;
}

#holder .msg {
	color: #999;
	font-size: 2em;
}

#holder .file {
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	text-align: left;
}

#holder .file img {
	vertical-align: top;
}

.submit {
	text-align: center;
}

#result {
	margin-top: 20px;
	height: 200px;
	border: 1px solid #ccc;
	overflow: auto;
}

#result .msg {
	margin-bottom: 5px;
	padding-left: 25px;
	min-height: 20px;
	background: url(../img/now_loading_20x20.gif) no-repeat;
	line-height: 20px;
}

#result .msg.complete {
	padding-left: 0;
	background: none;
}
