@charset "utf-8";
body {
	background: #eee;
	text-align: center;
}

#login,
#logout {
	display: none;
}

#result {
	margin-top: 20px;
	padding: 10px;
	width: 760px;
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	text-align: left;
	line-height: 1.5;
}

#form {
	margin: 30px auto 0;
	width: 600px;
}

#form table {
	width: 100%;
	background: #ccc;
	border-collapse: separate;
	border-spacing: 1px;
}

#form th,
#form td {
	padding: 6px 10px 4px;
	background: #fff;
	text-align: left;
}

#form th {
	width: 30%;
	background: #f9f0d3;
	border: 1px solid #fff;
}

#form td {
	width: 70%;
}

#fEmail,
#fAddr {
	width: 80%;
}

#form .submit {
	margin-top: 30px;
}
