@charset "utf-8";
body {
	margin: 50px;
	background: #eee;
	text-align: center;
}

#graph svg {
	background: #fff;
	overflow: hidden;
}

#graph polyline {
	fill: none;
	stroke: #1C99CE;
}

#graph line {
	stroke: #ccc;
}

#graph circle {
	fill: #1C99CE;
	stroke: none;
}

#graph circle:hover {
	fill: #cc0000;
}

#graph text {
	font-size: 11px;
}

#graph .labelY {
	text-anchor: end;
}
